footer {
    background: rgba(0, 0, 0, 0.85);
    &>.inside {
        padding-block: calc(var(--section-spacing)/2);
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: .8rem;
        column-gap: .5rem;
        a {
            color: white;
            &:not(:hover) {
                text-decoration: none;
            }
        }
    }
}