:root {
    /*Doing this with properties so i can easily change these with js*/
    --golden-split-col: #ffd700;
    --golden-pace-col: #64d4ff;
    --early-col: #6f6;
    --late-col: #f66;
    --header-height: 70px;
}

.overlay {
    font-family: 'Courier Prime', monospace;
    color: white;
    user-select: none;
    position: fixed;
    inset: calc(var(--header-height) + var(--gap-m)) 0 0 0;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.row-1 {
    display: flex;
    gap: var(--gap-m);
    flex-flow: row wrap;
    align-items: start;
    .timer-cnt {
        margin-right: auto;
    }
    .splits-cnt {
        margin-left: auto;
    }
}

.reset-message-cnt {
    margin-left: auto;
    pointer-events: visible;
}

.reset-message-cnt,
.timer-cnt,
.splits-cnt {

    padding: var(--gap-m);

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: rgba(255, 255, 255, .5) 1px solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.08);

    z-index: 10;
}

.splits-cnt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: var(--border-radius) 0 0 var(--border-radius);

    right: 0;
}

.timer-cnt {
    left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


.reset-message-cnt {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    font-weight: bold;
    cursor: pointer;
    user-select: initial;
    transition: opacity .5s ease;
    &.hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

#splits {
    --grid-row-height: 1.75ch;
    display: grid;
    grid-template-columns: auto auto auto auto;
    > * > *{
        height: var(--grid-row-height);
    }
    column-gap: .2em;
    width: max-content;
    max-width: 100vw;
    justify-items: end;
    transition: grid-template-columns .1s ease-out, grid-template-rows .1s ease-out;
}

.split {
    position: relative;
    display: contents;
    text-wrap: nowrap
}

.run-info {
    margin-block-start: var(--gap-sm);
    grid-column: 1 / -1;
}

/*Split names should be the one shrinking*/
.split-name {
    text-overflow: ellipsis;
    min-width: 0;
    overflow-y: visible;

    white-space: nowrap;
}

.split > span {
    text-align: right;
}
.split > span.split-diff {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    min-width: 10ch;
    padding: 0 0.3em;
    font-variant-numeric: tabular-nums;
    font-family: inherit;
    text-align: right;
    gap: 0.3ch;
    justify-self: stretch;
}

.late {
    color: var(--late-col);
}
.early {
    color: var(--early-col);
}
.golden {
    color: var(--golden-split-col);
}

.skipped {
    color: #888888;
}

.gold-pace {
    color: var(--golden-pace-col);
}

.split > span.split-diff .sign {
    display: inline-block;
    width: 1.5ch;
    text-align: right;
    flex-shrink: 0;
    font-variant-numeric: tabular-nums;
    font-family: inherit;
    font-size: 1rem;
}
.split > span.split-diff .num {
    display: inline-block;
    min-width: 6ch;
    text-align: right;
    font-variant-numeric: tabular-nums;
    font-family: inherit;
    font-size: 1rem;
}
.split-resets::before {
    content: '[';
}
.split-resets::after {
    content: ']';
}

@media (max-width: 600px) {
    .splits-cnt {
        top: calc(var(--header-height) + var(--gap-m)*5 + 1rem);
    }
}