@import 'overlay.css';
@import 'buttons.css';
@import 'header.css';

:root {
    --text: #000000;
    --bg: #ffffff;
    --accent: #65a524;
    --border-radius: 8px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

html {
    --scrollbar-color: var(--bg);
    --scrollbar-track-color: var(--text);
    scrollbar-width:  thin;
    scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-color);
    &::-webkit-scrollbar {
        width: 10px; /* Mostly for vertical scrollbars */
    }
    &::-webkit-scrollbar-thumb { /* Foreground */
        background: var(--scrollbar-color);
    }
    &::-webkit-scrollbar-track { /* Background */
        background: var(--scrollbar-track-color);
    }
}

footer {
    display: grid;
    row-gap: 8px;
    grid-template-columns: repeat(2, 15rem);
    font-size: .75rem;
    justify-content: start;
}