@import 'overlay.css';
@import 'buttons.css';
@import 'typography.css';
@import 'header.css';
@import 'sections/hero.css';
@import 'sections/text-image.css';
@import 'sections/separator.css';
@import 'sections/preview-list.css';

:root {
    --text: #636363;
    --accent: #65a524;
    --border-radius: 8px;

    --gap-xs: .1rem;
    --gap-sm: .25rem;
    --gap-m: .5rem;
    --gap-l: .1rem;
    --gap-xl: 2rem;

    --section-spacing: 6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

html {
    color: var(--text);
    font-family: 'Courier New', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: url("/assets/aurora-gradient-1778021307601.png");
    background-size: cover;
}



html {
    --scrollbar-color: black;
    --scrollbar-track-color: white;
    scrollbar-width:  thin;
    scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-color);
    &::-webkit-scrollbar {
        width: 10px; /* Mostly for vertical scrollbars */
    }
    &::-webkit-scrollbar-thumb { /* Foreground */
        background: var(--scrollbar-color);
    }
    &::-webkit-scrollbar-track { /* Background */
        background: var(--scrollbar-track-color);
    }
}

footer {
    display: grid;
    row-gap: 8px;
    grid-template-columns: repeat(2, 15rem);
    font-size: .75rem;
    justify-content: start;
}

#hero {
    margin-top: 200vh;
}

.media-container {
    --box-shadow-position: 4px;
    overflow: hidden;
    box-shadow: 0 var(--box-shadow-position) 8px 0 rgba(0, 0, 0, 0.2), 0 calc(var(--box-shadow-position)*1.1) 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.section {
    margin-block-start: var(--section-spacing);
}

.inside {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}