html {
    --min-font-size: 14px;
    --max-font-size: 18px;

    font-size: clamp(
            var(--min-font-size),
            calc(2.5vw),
            var(--max-font-size)
    );
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4,
.text-border {
    --border-width: 1px;
    color: white;
    text-shadow: calc(var(--border-width)*-1) 0 black, 0 var(--border-width) black, var(--border-width) 0 black, 0 calc(var(--border-width)*-1) black;
}

h2 {
    font-size: 2rem;
    margin-block-end: var(--gap-l);
}

ul.check-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-inline-start: 3ch;
    line-height: 1.5;
    li {
        max-width: fit-content;
    }

    li::marker {
        content: "✓ ";
        color: var(--accent);
    }
}

a {
    color: var(--accent);
}