.about {
    & > .inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 { text-align: center}
        .character-speech-cnt {
            display: grid;
            gap: var(--gap-m);
            align-items: start;

            .character {
                .character-container {
                    border-radius: 100%;
                    padding: .5rem;
                    max-height: 10rem;
                    aspect-ratio: 1;
                    border: 2px var(--accent) solid;
                }
            }

            .speech-wrapper {
                position: relative;
                height: 100%;
                /*  grouping these, bc i inquire the dimensions of the paragraphs with js to set it for the speech bubble
                    so they have to have the same styling for padding and border
                 */
                .speech,
                p[data-about-target="speechParagraph"] {
                    padding: .75rem calc(.5rem + 10px) .75rem .5rem;
                    border: transparent solid 3px;
                }

                .speech {
                    position: relative;
                    justify-self: start;
                    background-color: white;
                    border-color: black;
                    border-radius: var(--border-radius);
                    display: inline-block;
                    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);

                    &::before,
                    &::after {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                    }

                    &::before {
                        left: 14px;
                        top: -19px;
                        border: 8px solid;
                        border-color: transparent black black transparent;
                    }

                    &::after {
                        left: 15px;
                        top: -11px;
                        border: 6px solid;
                        border-color: transparent white white transparent;
                    }
                    transition-property: width, height;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in-out;
                    width: var(--speech-width);
                    height: var(--speech-height);

                    .next-icon-button {
                        position: absolute;
                        bottom: var(--gap-m);
                        right: var(--gap-m);
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity .5s, transform .25s;
                        background-color: transparent;
                        font-weight: 800;
                        width: 0;
                        height: 0;
                        border: 5px solid black;
                        clip-path: polygon(0 0%, 0% 0%, 100% 50%, 100% 50%, 0% 100%);
                    }
                    &.has-next-text {
                        .next-icon-button {
                            opacity: 1;
                            animation: blink 2s infinite;
                            pointer-events: visible;
                            cursor: pointer;
                        }
                    }
                }

                p[data-about-target="speechParagraph"] {
                    position: absolute;
                    visibility: hidden;
                    max-width: fit-content;
                    max-height: fit-content;
                }

            }
            margin-bottom: var(--gap-xl);
        }
        .buttons {
            opacity: 0;
            pointer-events: none;
            transition: opacity 1s, transform 1.5s;
            transform: translateY(10px);
            display: inline-grid;
            grid-template-columns: 1fr 1fr;
            margin-inline: auto;
            gap: var(--gap-m);
            .btn {
                text-align: center;
            }
        }
    }
}

.about.dialog-done {
    .buttons {
        opacity: 1;
        transform: none;
        pointer-events: auto;
    }
}

@media (min-width: 768px) {
    .about > .inside .character-speech-cnt {
        grid-template-columns: 1fr 4fr;

        .speech-wrapper {
            .speech {
                &::before {
                    top: 14px;
                    left: -19px;
                    border: 8px solid;
                    border-color: black black transparent transparent;
                    transform: scaleY(-1);
                }

                &::after {
                    top: 15px;
                    left: -11px;
                    border: 6px solid;
                    border-color: white white transparent transparent;
                    transform: scaleY(-1)
                }
            }
        }
    }
}