.faq-section {
    &>.inside {
        display: flex;
        flex-direction: column;
        gap: var(--gap-l);
        .faq-item {
            --line-height: 1rem;
            --padding-block: 1rem;
            --border-width: 1px;
            overflow: hidden;
            height: calc(var(--question-height) + var(--border-width)*2);
            transition: height 0.25s;
            border: color-mix(in srgb, var(--accent) 60%, transparent) var(--border-width) solid;
            border-radius: var(--border-radius);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
            .faq-question {
                position: relative;
                background: white;
                border: none;
                padding-inline: 1rem;
                width: 100%;
                line-height: var(--line-height);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 700;
                .question-text {
                    padding-block: var(--padding-block);
                    text-align: start;
                }
                .faq-icon {
                    flex-shrink: 0;
                    aspect-ratio: 1;
                    height: 1.5rem;
                    box-shadow: none;
                    transition: transform 0.25s;
                }
                .faq-icon-closed {position:initial;}
                .faq-icon-open {position: absolute; visibility: hidden}
                &::after {
                    content: "";
                    position: absolute;
                    background: linear-gradient(
                            to right,
                            transparent,
                            color-mix(in srgb, var(--accent) 40%, transparent) 40% 60%,
                            transparent
                    );
                    height: 1px;
                    width: 100%;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.25s ease .15s;
                    bottom: 0;
                }
            }
            .faq-answer {
                padding-inline: 1rem;
                overflow-y: auto;
                padding-block: var(--padding-block);
                background: rgba(0, 0, 0, 0.025);
            }

            &.faq-open {
                height: calc(var(--question-height) + var(--answer-height) + var(--border-width)*2);
                .faq-question::after {
                    transform: scaleX(1);
                }
                .faq-question .faq-icon-closed {position: absolute; visibility: hidden}
                .faq-question .faq-icon-open {
                    position: initial;
                    visibility: visible;
                    transform: scale(1.1) translateY(-2px);
                }
                .faq-answer {
                    height: var(--answer-height);
                }
            }
        }
    }
}