:root {
    --hero-image-margin: -300px;
}

.hero {
    min-height: calc(100dvh - var(--header-height));
    display: grid;
    justify-items: center;
    margin-block-end: calc(-1*var(--hero-image-margin));
    &>.inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 100%;
        gap: var(--gap-xl);
        .hero__content {
            display: grid;
            place-items: center;
            gap: var(--gap-m);
            h1 {
                --border-width: 2px;
                font-size: 3rem;
                text-align: center;
                line-height: 1.2;
            }
            p {
                margin-block-end: var(--gap-m);
                text-align: center;
            }
        }
        .config-window-preview {
            --box-shadow-position: -4px;
            max-width: 900px;
            margin-bottom: var(--hero-image-margin);
        }
    }
}

.hero + .section {
    margin-top: calc(-1*var(--hero-image-margin) + var(--section-spacing));
}