.preview-list {
    &.all-shown {

    }
    .preview-link {
        position: relative;
    }
    .preview-link:hover,
    .preview-link:focus {
        text-decoration: underline;
        cursor: pointer;
    }
    .preview-link.shown {
        &::marker {
            opacity: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: calc(-1ch - 1.5rem);
            height: 1.5rem;
            aspect-ratio: 1;
            background-image: url('./assets/frog-heart-eyes.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0;
            animation: fadein .5s forwards .25s;
        }
    }
    .preview-container {
        position: relative;
        width: 100%;
        aspect-ratio: 1.64;
        .preview-el {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
            img {
                object-fit: cover;
                height: 100%;
            }
        }
        .preview-el.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.preview-list.text-image .right {
    --basis: 40%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.left {
    .preview-link {
        .click-cnt {
            position: relative;
            display: inline;
            .click-hint {
                user-select: none;
                pointer-events: none;
                display: flex;
                gap: var(--gap-xl);
                position: absolute;
                color: var(--text-muted);
                font-size: .8rem;
                top: 0;
                right: 50%;
                transform: translate(+100%, -75%);

                .arrow-container {
                    box-shadow: none !important;
                    width: 2rem;
                    height: auto;
                    animation: rotate 6s ease infinite;
                    transform-origin: bottom right;

                    svg {
                        width: 100%;
                        height: 100%;

                        #preview-arrow-path {
                            stroke: rgb(0%, 0%, 0%);
                            stroke-dasharray: 3500;
                            stroke-dashoffset: 3500;
                            animation: draw 6s ease-in-out infinite;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .left .preview-link .click-cnt .click-hint {
        top: 0;
        right: 0;
        transform: translate(+100%, -75%);
    }
}

@keyframes draw {
    10%, 100% {
        stroke-dashoffset: 0;
    }
    from { opacity: 1;}
    70% { opacity: 1;}
    90% {opacity: 0;}
    100% { opacity: 0;}
}


@keyframes rotate {
    from {transform: rotate(31deg) translate(0) }
    10% {transform: rotate(25deg) translate(-2px, 3px) }
    20% {transform: rotate(31deg) translate(0) }
    35% {transform: rotate(31deg) translate(0) }
    50% {transform: rotate(31deg) translate(0) }
    60% {transform: rotate(25deg) translate(-2px, 3px) }
    70% {transform: rotate(31deg) translate(0) }
    to {transform: rotate(31deg) translate(0) }
}