.text-image {
    &>.inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--gap-xl);
        column-gap: var(--gap-xl);
        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                margin-block-end: var(--gap-m);
            }
        }
        .right {
            --basis: 45%;
            flex-basis: var(--basis);
        }
    }
}

@media (min-width: 768px) {
    .text-image {
        &>.inside {
            flex-direction: row;
        }
        &.reversed >.inside {
            flex-direction: row-reverse;
        }
    }
}